<div class="bb">
  <div class="bb-overlay">
    <form nz-form [formGroup]="signupForm">
      <div class="center">
        <h1 class="signup-title">Walking for Good Cause Sign Up</h1>
      </div>
      <div class="center">
        <nz-form-item>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <input class="input-field" nz-input id="firstName" placeholder="First Name" formControlName="firstName"
              (change)="checkFormsValidity();">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <input class="input-field" nz-input id="lastName" placeholder="Last Name" formControlName="lastName"
              (change)="checkFormsValidity();">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <input class="input-field" nz-input id="email" placeholder="Email" formControlName="email"
              (change)="checkFormsValidity();">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <input class="input-field" nz-input id="password" placeholder="Password" formControlName="password"
              type="password" (change)="checkFormsValidity();">
          </nz-form-control>
        </nz-form-item>
        <button nz-button nzType="primary" (click)="checkFormsValidity(); submitClicked();">Submit</button>
      </div>
    </form>
  </div>
</div>