<div class="wrapper">
  <div class="steps">
    <nz-card class="inner" nzTitle="Total Steps">
     <div class="test">
       <h1 class="innerText">{{totalSteps}}</h1>
       <h2 class="innerText">steps</h2>
     </div>
    </nz-card>
  </div>
  <div class="kiloMeters">
    <nz-card class="inner" nzTitle="total KM">
     <div class="test">
       <h1 class="innerText">{{totalKM}}</h1>
       <h2 class="innerText">KM</h2>
     </div>
    </nz-card>
  </div>
  <div class="money">
    <nz-card class="inner" nzTitle="Money Donated">
     <div class="test">
       <h1 class="innerText">{{totalMoney}}</h1>
       <h2 class="innerText">EAD</h2>
     </div>
    </nz-card>
  </div>
 
</div>