<div class="wrapper">
  <nz-card class="inner" nzTitle="Total Steps">
    <nz-card-meta nzTitle={{totalSteps}}></nz-card-meta>
    <nz-card-meta nzTitle="Steps"></nz-card-meta>
  </nz-card>
  <nz-card class="inner" nzTitle="Total KM">
    <nz-card-meta nzTitle={{totalKM}}></nz-card-meta>
    <nz-card-meta nzTitle="KM"></nz-card-meta>
  </nz-card>
  <nz-card class="inner" nzTitle="Money Donated">
    <nz-card-meta nzTitle={{totalMoney}}></nz-card-meta>
    <nz-card-meta nzTitle="AED"></nz-card-meta>
  </nz-card>
</div>