<div style="display: flex; flex: 1; flex-direction: row; align-items: center; justify-content: center;">
  <nz-card nzHoverable
    style="width:266px; align-self: center; margin-top: 3px;"
    [nzCover]="coverTemplate">
    <nz-card-meta nzTitle="Name" nzDescription="Mohamed Yasser" style="margin-bottom: 10px;"></nz-card-meta>
    <nz-card-meta nzTitle="Email" nzDescription="mohamedyasser96@aucegypt.edu" style="margin-bottom: 10px;">
    </nz-card-meta>
    <nz-card-meta nzTitle="Step Count" nzDescription="361" style="margin-bottom: 10px;"></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate>
    <img alt="example" src="../../assets/yasser.jpg" />
  </ng-template>
  <div style="display: flex; flex-direction: column; margin-left: 30px;">
    <button nz-button nzType="primary" (click)="toggleAddSteps()" style="margin-bottom: 10px;">Add Steps</button>
    <input *ngIf="addSteps" [(ngModel)]="steps" placeholder="Step count">
    <button *ngIf="addSteps" nz-button nzType="primary" (click)="submit(steps.value)" style="margin-top: 10px;">Submit</button>
  </div>
</div>