<div class="outer-wrapper">
  <nz-card nzHoverable class="card" [nzCover]="coverTemplate">
    <nz-card-meta class="card-content" nzTitle="Name" nzDescription="Mohamed Yasser"></nz-card-meta>
    <nz-card-meta class="card-content" nzTitle="Email" nzDescription="mohamed_yasser_96@hotmail.com"></nz-card-meta>
    <nz-card-meta class="card-content" nzTitle="Step Count" nzDescription="201"></nz-card-meta>
    <div class="add-steps-wrapper">
      <button class="card-content" nz-button nzType="primary" (click)="toggleAddSteps()">Add Steps</button>
      <input class="card-content" *ngIf="addSteps" [(ngModel)]="steps" placeholder="Step count">
      <button class="card-content" *ngIf="addSteps" nz-button nzType="primary"
        (click)="submit(steps.value)">Submit</button>
    </div>
  </nz-card>
  <ng-template #coverTemplate>
    <img class="card-image" alt="example" src="../../assets/yasser.jpg" />
  </ng-template>
</div>