<nz-sider class="side-bar">
  <ul nz-menu nzMode="inline" class="sider-menu side-bar-menu">
    <li nz-menu-item [routerLink]="['/admin/dashboard']">Dashboard</li>
    <li nz-menu-item [routerLink]="['/admin/create-admin']">Create Admin</li>
    <li nz-menu-item [routerLink]="['/admin/create-user']">Create User</li>
    <li nz-menu-item [routerLink]="['/admin/create-team']">Create Team</li>
    <li nz-menu-item [routerLink]="['/admin/add-steps']">Add Steps</li>
    <li nz-menu-item [routerLink]="['/admin/users']">Users</li>
    <li nz-menu-item nzSelected>Teams</li>
    <li nz-menu-item (click)="logout()">Logout</li>
  </ul>
</nz-sider>
<div class="page-content-wrapper">
  <div class="title">
    <h1 class="title-text">Teams</h1>
  </div>
  <nz-spin class="page-when-loading" nzTip="Loading..." *ngIf="loading" [nzSize]="'large'">
    <nz-table #basicTable [nzData]="teams" [nzScroll]="{ x: '700px', y: '320px' }">
      <thead>
        <tr>
          <th nzWidth='150px' style="text-align: center;">Team Name</th>
          <th nzWidth='150px' style="text-align: center;">Total Steps</th>
          <th nzWidth='150px' style="text-align: center;">Members</th>
          <th nzWidth='150px' style="text-align: center;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td nzWidth='150px' style="text-align: center;">{{data.teamName}}</td>
          <td nzWidth='150px' style="text-align: center;">{{data.totalSteps}}</td>
          <td nzWidth='150px' style="text-align: center;">
            <a>View Members</a>
          </td>
          <td nzWidth='150px' style="text-align: center;">
            <a (click)="showModalDelete(data.teamName)">Delete</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-spin>

  <div *ngIf="!loading">
    <nz-table #basicTable [nzData]="teams" [nzScroll]="{ x: '700px', y: '320px' }">
      <thead>
        <tr>
          <th nzWidth='150px' style="text-align: center;">Team Name</th>
          <th nzWidth='150px' style="text-align: center;">Total Steps</th>
          <th nzWidth='150px' style="text-align: center;">Members</th>
          <th nzWidth='150px' style="text-align: center;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td nzWidth='150px' style="text-align: center;">{{data.teamName}}</td>
          <td nzWidth='150px' style="text-align: center;">{{data.totalSteps}}</td>
          <td nzWidth='150px' style="text-align: center;">
            <a (click)="showModalMembers(data.users)">View Members</a>
          </td>
          <td nzWidth='150px' style="text-align: center;">
            <a (click)="showModalDelete(data.teamName)">Delete</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-modal [(nzVisible)]="isVisibleDelete" nzTitle="Delete User" (nzOnCancel)="handleCancelDelete()"
  (nzOnOk)="deleteTeam()">
  <p>Are you sure you want to delete team? This will make the users in the current team have no team. This action cannot
    be undone.</p>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleMembers" nzTitle="Team Members" (nzOnCancel)="handleCancelMembers()"
  (nzOnOk)="handleOkMembers()">
  <div class="members-modal-content-wrapper">
    <div *ngFor='let user of selectedTeamUsers; let j = index;' class="members-modal-content">
      <div class="members-modal-title-and-input">
        <h4>{{user.email}}</h4>
        <p>Step Count: {{user.stepCount}}</p>
        <input class="members-modal-input" [(ngModel)]="stepsToAdd[j]" [ngModelOptions]="{standalone: true}" nz-input
          placeholder="Add Steps">
        <button class="member-modal-add-btn" nz-button nzType="primary"
          (click)="addStepsToUser(user.email, stepsToAdd[j]);">Add</button>
      </div>
      <div class="members-modal-remove">
        <a (click)="removeUserFromTeam(user.email, user.team)">Remove From Team</a>
      </div>
    </div>
  </div>
</nz-modal>

<!--<nz-modal [(nzVisible)]="isVisibleSteps" nzTitle="Add Steps" (nzOnCancel)="handleCancelSteps()" (nzOnOk)="addSteps()">
  <form nz-form [formGroup]="addStepsForm">
    <nz-form-item>
      <nz-form-control [nzSm]="10" [nzXs]="24">
        <input class="input-field" nz-input id="firstName" placeholder="Steps To Be Added" formControlName="steps">
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleTeamAdd" nzTitle="Add User to Team" (nzOnCancel)="handleCancleTeamAdd()"
  (nzOnOk)="addUserToTeam()">
  <form nz-form [formGroup]="addToTeamForm">
    <nz-form-item>
      <nz-form-control [nzSm]="10" [nzXs]="24">
        <input class="input-field" nz-input id="firstName" placeholder="Team Name" formControlName="teamName">
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleTeamRemove" nzTitle="Remove User From Team" (nzOnCancel)="handleCancleTeamRemove()"
  (nzOnOk)="removeUserFromTeam()">
  <p>Are you sure you want to remove user from their team: {{selectedTeamNameRemove}}?</p>
</nz-modal> -->