.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.bb {
  min-height: 100%;
  /* background-image: url("https://inside.dell.com/resources/statics/1355203/cq5dam.web.1280.1280.jpeg?a=1541377162507"); */
  background: url("src/assets/background.jpeg") no-repeat center center fixed;
  /* opacity: 0.7; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.center-page-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  justify-self: center;
  height: 100%;
  justify-items: center;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.6);
}

.center-page {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  color: #0076ce;
  z-index: 1;
  font-size: 70px;
  font-weight: bold;
}

.option-btn {
  width: 250px;
  font-size: 20px;
  height: 50px;
  margin-bottom: 10px;
}

.signup-btn {
  width: 250px;
  font-size: 20px;
  height: 50px;
}

.google-signup-btn {
  background-color: #ffffff;
  color: #0f9d58;
}

.social-media-logo {
  width: 25px;
  margin-right: 10px;
}

.facebook-signup-btn {
  background-color: #ffffff;
  color: #6d84b4;
  padding: 0px 8px !important;
}