<div class="wrapper">
  <div class="bb">
    <div class="center-page-wrapper">
      <div class="center-page">
        <h1 class="title">Walking for Good Cause</h1>
      </div>
      <div class="center-page">
        <button class="login-btn" nz-button nzType="primary" (click)="loginPage();">Login</button>
      </div>
      <div class="center-page">
        <button class="signup-btn" nz-button nzType="primary" (click)="signUpPage();">Sign up with Email</button>
      </div>
      <div class="center-page">
        <button class="google-signup-btn" nz-button nzType="primary" (click)="googleSignIn();">
          <img class="social-media-logo" src="../assets/google_logo.png">
          Login with Google
        </button>
      </div>
      <div class="center-page">
        <button class="facebook-signup-btn" nz-button nzType="primary" (click)="facebookSignIn();">
          <img class="social-media-logo" src="../assets/Facebook_Logo.png">
          Login with Facebook
        </button>
      </div>
    </div>
  </div>
</div>