<nz-sider class="side-bar">
  <ul nz-menu nzMode="inline" class="sider-menu side-bar-menu">
    <li nz-menu-item [routerLink]="['/admin/dashboard']">Dashboard</li>
    <li nz-menu-item nzSelected>Analytics</li>
    <li nz-menu-item [routerLink]="['/admin/create-admin']">Create Admin</li>
    <li nz-menu-item [routerLink]="['/admin/create-user']">Create User</li>
    <li nz-menu-item [routerLink]="['/admin/create-team']">Create Team</li>
    <li nz-menu-item [routerLink]="['/admin/add-steps']">Add Steps</li>
    <li nz-menu-item [routerLink]="['/admin/users']">Users</li>
    <li nz-menu-item [routerLink]="['/admin/teams']">Teams</li>
    <li nz-menu-item (click)="logout()">Logout</li>
  </ul>
</nz-sider>
<div class="map" id="geomap" *ngIf="!loading"></div>