:host {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100%;
  background-color: #d8d2d2;
}

.side-bar {
  background: #f0f2f5;
}

.side-bar-menu {
  background: #f0f2f5;
  padding-top: 25%;
}

.map {
  height: 75%;
  width: 75%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-self: center;
  align-items: center;
}
